#root , html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.card-col {
  position: absolute;
  top: 30vh;
}

.app {
  height: 100%;
  /* linear-gradient(rgba(0, 0, 0, 0.5)), */
  background: url('./img/background.jpg'); 
  background-size: cover;
  background-position: center;
  justify-content: center;
}